@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Humane-Regular";
  src: url("../public/fonts/Humane-Regular.ttf") format("ttf"),
    url("../public/fonts/Humane-Regular.woff") format("woff"),
    url("../public/fonts/Humane-Regular.woff2") format("woff2");
}

.humane {
  font-family: Humane-Regular;
}

:root {
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

body {
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  /* overflow-x: hidden; */
}

.gsans {
  font-family: var(--font-geist-sans);
}

.tooltip {
  position: relative;
  display: flex;
  /* display: inline-block; */
}

/* Tooltip text */
.tooltip .tooltiptext {
  font-size: 10px;
  white-space: nowrap;
  visibility: hidden;
  min-width: fit-content !important;
  background-color: #303030;
  color: #fff;
  text-align: center;
  padding: 4px 6px;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 9999999;
  /* transition: visibility 0.25s; */
}

.tooltip .tooltiptext {
  /* width: 120px; */
  top: 105%;
  left: 50%;
  margin-left: -50%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip-hover:hover .tooltiptext {
  visibility: visible;
}

/* LOADER */
/* .loader {
  --path: #2f3545;
  --dot: #2874ee;
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
}

.loader:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}

.loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-dasharray: calc(200 / 4 * 3) calc(200 / 4);
  stroke-dashoffset: 75;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }
  50% {
    stroke-dashoffset: 175;
  }
  75% {
    stroke-dashoffset: 225;
  }
  100% {
    stroke-dashoffset: 275;
  }
}

@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(18px, -18px);
  }
  75% {
    transform: translate(0, -36px);
  }
  100% {
    transform: translate(-18px, -18px);
  }
} */

/* SCROLLBAR */

/* Scrollbar for WebKit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar for horizontal scrolling */
}

::-webkit-scrollbar-track {
  background: #fff; /* Background of the scrollbar track */
  border-radius: 10px; /* Round corners */
}

::-webkit-scrollbar-thumb {
  background: #18181b; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Round corners */
  border: 3px solid #fff; /* Space between the thumb and track */
}

::-webkit-scrollbar-thumb:hover {
  background: #363636; /* Color on hover */
}

/* Scrollbar for Firefox */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #bfbfbf #fff; /* Thumb color and track color */
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.ai-message {
  height: fit-content;
  width: fit-content;
  /* max-width: 40vw; */
  background: #fafafa;
  /* color: #efefef; */
  border-radius: 10px;
  border: 2px solid #eeeeee;
  padding: 10px 10px;
  padding-bottom: 30px;
  position: relative;
}

/* .ai-message:before {
  rotate: 180deg;
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #18181b;
} */

.user-message {
  height: fit-content;
  width: fit-content;
  /* max-width: 40vw; */
  background: #f3f3f3;
  border: 2px solid #eaeaea;
  color: #0d0d0d;
  border-radius: 10px;
  padding: 10px 10px;
  position: relative;
  margin-left: auto;
}

/* .user-message:before {
  rotate: 180deg;
  content: "";
  position: absolute;
  bottom: 0;
  right: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #f3f3f3;
} */

iframe {
  width: 224px; /* Or use your desired width */
  height: 112px; /* Or use your desired height */
  border: none;
  overflow: hidden;
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}

iframe body {
  overflow: hidden;
}

/* For Webkit browsers (Chrome, Safari, Opera) */
iframe::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

/* Sets the pdf to center of the container yk */
.rpv-core__inner-page {
  display: flex;
  justify-content: center;
}

.rounded-container::after {
  content: "";
  position: absolute;
  top: -1rem;
  left: 0;
  width: 2rem;
  height: 2rem;
  background-color: white; /* Match background */
  border-bottom-right-radius: 1.5rem; /* Create the curve */
}

.options {
  border: none !important;
  box-shadow: none !important;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.fade-icon {
  opacity: 0;
  transform: translateX(-10px);
  transition: all 0.15s linear;
}

.fade-parent:hover .fade-icon {
  opacity: 1;
  transform: translateX(0px);
}

.skeleton {
  background-color: #f9f9f9;
  animation: skeleton 1.75s infinite linear;
}

@keyframes skeleton {
  0% {
    background-color: #f9f9f9;
  }
  50% {
    background-color: #eeeeee;
  }
  100% {
    background-color: #f9f9f9;
  }
}

/* criss-cross loader animation */
/* From Uiverse.io by SchawnnahJ */
.loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
}

.loader:before {
  animation: before8 2s infinite;
}

.loader:after {
  animation: after6 2s infinite;
}

@keyframes before8 {
  0% {
    width: 0.5em;
    box-shadow: 1em -0.5em #000, -1em 0.5em #000;
  }

  35% {
    width: 2.5em;
    box-shadow: 0 -0.5em #000, 0 0.5em #000;
  }

  70% {
    width: 0.5em;
    box-shadow: -1em -0.5em #000, 1em 0.5em #000;
  }

  100% {
    box-shadow: 1em -0.5em #000, -1em 0.5em #000;
  }
}

@keyframes after6 {
  0% {
    height: 0.5em;
    box-shadow: 0.5em 1em #ccc, -0.5em -1em #ccc;
  }

  35% {
    height: 2.5em;
    box-shadow: 0.5em 0 #ccc, -0.5em 0 #ccc;
  }

  70% {
    height: 0.5em;
    box-shadow: 0.5em -1em #ccc, -0.5em 1em #ccc;
  }

  100% {
    box-shadow: 0.5em 1em #ccc, -0.5em -1em #ccc;
  }
}

/* .loader {
  position: absolute;
  top: calc(50% - 1.25em);
  left: calc(50% - 1.25em);
} */

/* Hiding the text-layer of the pdf on the bottom */
.rpv-core__text-layer {
  display: none !important;
}

.img-hover-ele {
  opacity: 0;
  transition: all 150ms;
}

.img-hover:hover .img-hover-ele {
  opacity: 1;
}

/* .bento-chat-1 {
  transition: all 0.2s ease-in-out;
}
.bento-chat-2 {
  transition: all 0.225s ease-in-out;
}
.bento-chat-3 {
  transition: all 0.25s ease-in-out;
}

.bento-dashboard {
  transition: all 0.35s ease-in-out;
}

.bento-grid-1:hover .bento-chat-1 {
  transform: scale(1.2) rotate(-10deg) translateY(-50%);
}
.bento-grid-1:hover .bento-chat-2 {
  transform: scale(1.25) rotate(-17deg) translateY(-50%);
}
.bento-grid-1:hover .bento-chat-3 {
  transform: scale(1.1) rotate(-30deg) translateY(-50%);
}

.bento-grid-3:hover .bento-dashboard {
  bottom: -5%;
}

.bento-notes-1 {
  transition: all 0.2s ease-in-out;
}
.bento-notes-2 {
  transition: all 0.225s ease-in-out;
}

.bento-notes-3 {
  transition: all 0.25s ease-in-out;
}

.bento-grid-4:hover .bento-notes-1 {
  right: 32px;
  transform: rotate(10deg);
}
.bento-grid-4:hover .bento-notes-2 {
  right: 44px;
  transform: rotate(8deg);
}

.bento-grid-4:hover .bento-notes-3 {
  right: 56px;
  transform: rotate(6deg);
}

.bento-grid-2:hover .bento-editor {
  transform: rotate(-15deg);
  /* right: -40%;
  bottom: -20%; */
/* }
.bento-editor {
  transition: all 0.2s ease-in-out;
} */

/* For Webkit browsers (Chrome, Safari) */
/* ::-webkit-scrollbar {
  display: none;
}
html,
body {
  scrollbar-width: none;
  -ms-overflow-style: none;
} */

.notes-left-1,
.notes-right-1 {
  transition: all 0.25s ease-in-out;
}
.notes-left-2,
.notes-right-2 {
  transition: all 0.35s ease-in-out;
}
.notes-left-3,
.notes-right-3 {
  transition: all 0.45s ease-in-out;
}

.cta-section:hover .notes-left-1 {
  transform: translateY(-50%) rotate(-10deg);
}
.cta-section:hover .notes-left-2 {
  left: -12.5%;
  transform: translateY(-50%) rotate(0deg);
}
.cta-section:hover .notes-left-3 {
  left: -10%;
  transform: translateY(-50%) rotate(10deg);
}
.cta-section:hover .notes-right-1 {
  transform: translateY(-50%) rotate(10deg);
}
.cta-section:hover .notes-right-2 {
  right: -12.5%;
  transform: translateY(-50%) rotate(0deg);
}
.cta-section:hover .notes-right-3 {
  right: -10%;
  transform: translateY(-50%) rotate(-10deg);
}
